.slot-component {
    border  : 1px solid black;
    float   : left;
    padding : 5px;
    margin  : 5px;
}

.component {
    border  : 1px solid red;
    float   : left;
    padding : 5px;
    margin  : 5px;
}

.orangeBorder {
    border  : 1px solid orange;
    padding : 5px;
    margin  : 5px;
}

.blueBorder {
    border  : 1px solid blue;
    padding : 5px;
    margin  : 5px;
}
